<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="selbettidev" value="https://pkgs.dev.azure.com/selbettidev/_packaging/selbettidev/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <selbettidev>
     <add key="Username" value="NuGet" />
     <add key="ClearTextPassword" value="yda3gwx7jnm7i3ef75jsiufeeue3ssfibhzsnzmzld2eioqdh5ha" />
    </selbettidev>
  </packageSourceCredentials>
</configuration>

